<div class="columns-container">
  <div class={{if this.showEditingPane "left-col left-col-collapse" "left-col left-col-expand"}}>
    <h1>Card Themer</h1>
    <p><i>{{@cardName}}</i>
      <button {{on "click" this.toggleEditingPane}}>
        {{if this.showEditingPane "Hide Editor" "Show Editor"}}
      </button>
    </p>
    <div class="display-wrapper">
      {{yield}}
    </div>
    <style  {{did-insert this.initialRender}} id="card-styles"></style>
  </div>

 <div class={{if this.showEditingPane "right-col slide-in-right" "slide-out-right right-col"}} >
    <div class="code-panel-heading">
      CSS Editor
      <Hint @beaconName="csshint">
          Edit the code below to add some styles! For example, try changing the 
          <code> font-size</code>
          to a different number, and see an instant preview.
      </Hint>
    </div>
    {{code-editor
      language="css"
      code=this.css
      onChange=(action (mut this.css))
      theme="vs-dark"
      onReady=(action "editorReady")
    }}
    <div class="code-panel-heading">
      HTML Viewer
      <Hint @beaconName="htmlhint">
          Use this to look up the classes and HTML elements you could write CSS styles for.
          If you need to make changes to this, visit the Card Builder page instead.
      </Hint>
    </div>
    {{code-editor
      language="html"
      code= this.markup
      theme="vs-dark"
      readOnly=true
    }}
  </div>
</div>
